Semana 03

Temas:
1. Numeros
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

1. Números

In [1]:
8+5

13

In [2]:
4*3+5-2/6

16.666666666666668

2. Variables

In [3]:
edad = 41

In [4]:
edad

41

In [5]:
nombre = "Henry Nuñez"

In [6]:
nombre

'Henry Nuñez'

In [7]:
nacionalidad = "peruano"

In [8]:
nacionalidad

'peruano'

In [9]:
datos_completos = nombre + " es " + nacionalidad

In [10]:
datos_completos

'Henry Nuñez es peruano'

In [11]:
# Para saber el tipo de dato de una variable utilizamos type
type(edad)

int

In [12]:
type(nombre)

str

In [13]:
talla = 1.68

In [14]:
type(talla)

float

In [15]:
# Para convertir un numero a cadena usamos str()
numero = 100
cadena = str(numero)
cadena

'100'

In [16]:
type(cadena)

str

In [17]:
# Para convertir una cadena a numerico

In [18]:
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [19]:
type(numero2)

int

In [21]:
# Para convertir una cadena a float
numero3 = float(cadena2)
numero3

50.0

3. Manejo de cadenas

In [23]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [24]:
#Universidad Nacional Tecnologica de Lima Sur
#0123456......

In [25]:
cadena[5]

'r'

In [26]:
cadena[10]

'd'

In [27]:
cadena[-5]

'a'

In [28]:
# subcadena
cadena[3:8]

'versi'

In [29]:
# Tamaño
len(cadena)

44

In [32]:
# Mayuscula
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [33]:
# Minuscula
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [34]:
# Generar una lista a partir de una cadena
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [35]:
# Generar una lista a partir de una cadena
# Utilizando como criterio de separacion la letra "a"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [36]:
# Concatenar 
nombre = "Henry Nuñez"
print("Buenas tardes " + nombre)

Buenas tardes Henry Nuñez

In [40]:
# Utilizando el .format
nombre = "Pablo Levano"
edad = 15
print("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola Pablo Levano ya se que tienes 15 años

In [44]:
# Dar formato a numeros con muchos decimales
resultado = 10/3
print("10/3 = {}".format(resultado))
print("10/3 = {r:1.3f}".format(r=resultado))

10/3 = 3.3333333333333335
10/3 = 3.333

4. Ingreso de datos por el teclado

In [47]:
# Funcion input()
print("¿Cual es tu nombre?")
nombre = input()
print("Hola " + nombre)

¿Cual es tu nombre?
Henry
Hola Henry

In [48]:
print("Numero 01: ")
numero01 = input()
print("Numero 02: ")
numero02 = input()
numero03 = int(numero01) + int(numero02)
print(f"El resultado es {numero03}")

Numero 01:
10
Numero 02:
20
El resultado es 30

5. Operadores

In [ ]:
#5.1 Operadores aritmeticos